@model IoTProject.Core.Domain.GroupDevice

<h2>Create Group</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="GroupName">Group Name</label>
        <input asp-for="GroupName" class="form-control" />
        <span asp-validation-for="GroupName" class="text-danger"></span>
    </div>

    <h3>Select Devices to Add to Group</h3>
    @foreach (var device in Model.Devices)
    {
        <div class="form-group">
            <input type="checkbox" name="SelectedDeviceIds" value="@device.DeviceName" /> @device.Type (@device.Status)
        </div>
    }
                                                                    
    <button type="submit" class="btn btn-primary">Create Group</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
