@model IEnumerable<IoTProject.Core.Domain.GroupDevice>

<h2>Group Devices</h2>

<table class="table">
    <thead>
        <tr>
            <th>Group Name</th>
            <th>Devices</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model)
        {
            <tr>
                <td>@group.GroupName</td>
                <td>
                    <ul>
                        @foreach (var device in group.Devices)
                        {
                            <li>@device.DeviceName - @device.Type (@(device.Status ? "Active" : "Inactive"))</li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create">Go to create</a>
