@model IEnumerable<IoTProject.Core.Domain.Device>
    @{
        ViewData["Title"] = "Index";
    }

<h2>Devices</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var device in Model)
            {
                <tr>
                    <td>@device.DeviceName</td>
                    <td>@device.Type</td>
                    <td>@(device.Status ? "Active" : "Inactive")</td>
                </tr>
            }
        </tbody>
    </table>

<a asp-action="Create">Go to create</a>
